@use '../../styles/colors.scss';

.block {
  border-top: 1px solid colors.get(borders);
  margin-top: auto;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}
